@import url(main.css); 

nav ul{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 3rem; 
    padding: 1.25rem 1rem; 
    margin: 0; 
 }
 main{
    max-width: 1224px; 
    margin: 0 auto;
}

#events-title {
    width:100%;
    text-align: center; 
    padding: 3.5rem 1rem 2rem; 
}

#events-title h1{
    color: var(--primary-default-colour);
}
.event-section{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    gap: 3rem; 
    padding: 3.5rem 0;
}
.event-text{
    justify-self:start;
    text-align: left;
    max-width: 30rem;
}
.event-text h2{
    color: var(--primary-default-colour); 
   margin-bottom: 1.5rem;
}

.event-text p{
    margin-bottom: 0.35rem;
}

.event-image{
    display:flex;
    justify-content: flex-end;
}

.reverse .event-image{
    order: -1; 
    justify-content: flex-start; 
}

.event-image img{
    width:100%; 
    max-width: 21rem;
     height: auto;
    border-radius: 10px; 
    object-fit: cover;
    display: block; 
}

footer{
    max-width: 1224px; 
    margin: 0 auto; 
    padding: 3.5rem 0 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap:2rem; 
}

#footer-name{
    max-width: 22rem;
}

.logo-footer{
    width:10rem;
    height:auto;
    display:block; 
    margin-bottom: 1rem;
}

.footer-info{
    display:flex; 
    gap:4rem; 
}